.main{
    width:80%;
    margin:auto;
}

body{
    background-image: linear-gradient(to right bottom, #22035c, #4a327b, #705e9a, #988cb9, #c2bcd7, #cbbfda, #d3c2dc, #dcc5de, #cf96b7, #c26784, #ad3748, #890303);
}

h1{
    font-size: 60px;
    text-align: center;
}


h3{
    font-size:30px;
    text-align: center;
}

p{
    font-size: 25px;
    text-align: center;
}

.two-column{
    display: block;
    margin: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.three-column{
    display: block;
    margin: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center{
    display: block;
    margin: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
